body {
  background-color: #323232;
  color: #F5F5F5;
}
.site-header, .site-footer {
  background-color: #76B223;
}
.site-header div a, .site-footer div div div ul li {
  font-weight: bold;
}
li, td, p, h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}
.page-content a:visited, .page-content a {
  color: #76B223;
}
.site-title,.site-title:visited {
  color: #F5F5F5;
}
.site-nav .page-link {
  color: #F5F5F5;
}
table tr:nth-child(even) {
  background-color: #434343;
}
table tr:nth-child(odd) {
  background-color: #545454;
}
table tr:first-child {
  background-color: #76B223;
}
table {
  border: 2px solid #76B223
}
article .post-content h1 {
  display: none; 
}
