body {
  background-color: #323232;
  color: #F5F5F5;
}
td, p, h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}
.site-title,.site-title:visited {
  color: #F5F5F5;
}
.site-nav .page-link {
  color: #F5F5F5;
}
table tr:nth-child(even) {
  background-color: #434343;
}
table tr:nth-child(uneven) {
  background-color: #545454;
}
tr:first-child {
  background-color: #76B223;
}
